/* HeroesComponent's private CSS styles */
.heroes {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
  width: 15em;

  li {
    background-color: #EEE;
    border-radius: 4px;
    cursor: pointer;
    height: 1.6em;
    margin: .5em;
    padding: .3em 0;
    position: relative;

    &:hover {
      background-color: #DDD;
      color: #607D8B;
      left: .1em;
    }
  }

  a {
    color: #888;
    display: block;
    position: relative;
    text-decoration: none;
    width: 250px;

    &:hover {
      color: #607D8B;
    }
  }

  .badge {
    background-color: #607D8B;
    border-radius: 4px 0 0 4px;
    color: #fff;
    display: inline-block;
    font-size: small;
    height: 1.8em;
    line-height: 1em;
    left: -1px;
    margin-right: .8em;
    min-width: 16px;
    padding: 0.8em 0.7em 0 0.7em;
    position: relative;
    text-align: right;
    top: -4px;
  }
}
